.paper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    padding: 1em;
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.removeBox {
    display: flex;
    justify-content: flex-end;
}